@using WorkoutTracker.Shared.Models
@using WorkoutTracker.Web.ViewModels.EntityViewModel

@typeparam T where T : BaseEntity

<MessageComponent IsBusy="EntityViewModel.IsBusy" Errors="EntityViewModel.Errors" SuccessMessages="EntityViewModel.SuccessMessages" />

<!-- Allow creation of new entities? -->
<div class="row align-content-center justify-content-between">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        <h1>@Title</h1>
    }
    @if (CanAdd)
    {
        <div>
            <button @onclick="Create" class="button-primary">Add New</button>
        </div>
    }
</div>

<!-- The data -->
<table>
    <thead>
        <tr>
            @foreach (var property in typeof(T).GetProperties())
            {
                <th>@property.Name</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (EntityViewModel.Entities != null)
        {
            @foreach (var entity in EntityViewModel.Entities.List)
            {
                <tr>
                    @foreach (var property in typeof(T).GetProperties())
                    {
                        <td>@property.GetValue(entity)</td>
                    }
                    <td>
                        <div class="row align-items-center">
                            @if (CanEdit)
                            {
                                <button @onclick="async () => await Edit(entity)" class="button-warning">Edit</button>
                            }
                            @if (CanDelete)
                            {
                                <button @onclick="() => Delete(entity)" class="button-danger">Delete</button>
                            }
                        </div>

                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (EntityViewModel.Entities != null)
{
    <!-- Pagination Controls -->
    <p>
        Rows per page:
        <select @bind="EntityViewModel.EntityParameters.PageCount" @bind:after="PaginationPageCountChanged">
            <option value="5">5</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </p>

    <p>
        @StartItemIndex–@EndItemIndex of @EntityViewModel.Entities.Count
    </p>

    <button disabled="@(Page == 0)" @onclick="async () => await SetPage(0)">First</button>
    <button disabled="@(!HasPrevious)" @onclick="async () => await SetPage(Page - 1)">Previous</button>
    <button disabled="@(!HasNext)" @onclick="async () => await SetPage(Page + 1)">Next</button>
    <button disabled="@(Page == LastPage)" @onclick="async () => await SetPage(LastPage)">Last</button>
}

<!-- Actions -->
<ConfirmationComponent Title="Confirm" Message="Are you sure you want to permanently delete this entity?" IsVisible="DeleteEntity" OnConfirm="OnDelete" />

@code {
    [Parameter] 
    public bool CanAdd { get; set; } = true;

    [Parameter] 
    public bool CanEdit { get; set; } = true;

    [Parameter] 
    public bool CanDelete { get; set; } = true;

    [Parameter] 
    public IEntityViewModel<T> EntityViewModel { get; set; }

    [Parameter] 
    public string Title { get; set; }

    private int TotalCount => EntityViewModel.Entities?.Count ?? 0;
    private int Page => EntityViewModel.EntityParameters.Page;
    private int PageCount => EntityViewModel.EntityParameters.PageCount;

    private int LastPage => Math.Max(0, (int)Math.Ceiling((double)TotalCount / PageCount) - 1);
    private bool HasNext => Page < LastPage;
    private bool HasPrevious => Page > 0;

    private int StartItemIndex => TotalCount == 0 ? 0 : Page * PageCount + 1;
    private int EndItemIndex => Math.Min((Page + 1) * PageCount, TotalCount);

    private bool DeleteEntity = false;
    private object SelectedEntity = null;

    protected override void OnInitialized()
    {
        EntityViewModel.PropertyChanged += ViewModelPropertyChanged;

        base.OnInitialized();
    }

    public void Dispose() => EntityViewModel.PropertyChanged -= ViewModelPropertyChanged;

    private async void ViewModelPropertyChanged(object sender, System.ComponentModel.PropertyChangedEventArgs e) => await InvokeAsync(() => { StateHasChanged(); });

    /// <summary>
    /// 
    /// </summary>
    private async Task PaginationPageCountChanged()
    {
        EntityViewModel.EntityParameters.Page = 0;
        await EntityViewModel.GetEntities();
    }

    /// <summary>
    /// Set the page for the pagination
    /// </summary>
    private async Task SetPage(int page)
    {
        EntityViewModel.EntityParameters.Page = page;
        await EntityViewModel.GetEntities();
    }

    //// <summary>
    /// Create a new entity
    /// </summary>
    private async Task Create() 
    {
        await Task.Delay(0);
        EntityViewModel.AddError("Create not implemented yet.");
    }

    /// <summary>
    /// Delete an entity
    /// </summary>
    private void Delete(object entity) 
    {
        SelectedEntity = entity;
        DeleteEntity = true;
    }

    /// <summary>
    /// Delete an entity
    /// </summary>
    private async Task OnDelete(bool delete) 
    {
        if(delete) 
        {
            if(await EntityViewModel.Delete(SelectedEntity as T)) 
            {
                DeleteEntity = false;
                SelectedEntity = null;

                // If there is only one entity and we are on the first page, go back to the previous page (to avoid empty list))
                if(EntityViewModel.Entities.List.Count == 1 && HasPrevious) 
                {
                    await SetPage(EntityViewModel.EntityParameters.Page - 1);
                }
                else 
                {
                    // Otherwise, just refresh the current page
                    await EntityViewModel.GetEntities();
                }
            }
        }
        else 
        {
            DeleteEntity = false;
            SelectedEntity = null;
        }
    }

    /// <summary>
    /// Edit an entity
    /// </summary>
    private async Task Edit(object entity)
    {
        await Task.Delay(0);
        EntityViewModel.AddError("Edit not implemented yet.");
    }
}
