@page "/exercises"
@using Microsoft.AspNetCore.WebUtilities
@using WorkoutTracker.Shared.Dto.Exercise
@using WorkoutTracker.Shared.Dto.Pagination
@using WorkoutTracker.Shared.Dto.Result
@using WorkoutTracker.Web.Models
@using WorkoutTracker.Web.ViewModels.ExerciseViewModel
@using WorkoutTracker.Web.ViewModels.MuscleViewModel

<PageTitle>Exercises</PageTitle>

<MessageComponent Errors="MuscleViewModel.Errors" SuccessMessages="MuscleViewModel.SuccessMessages" IsBusy="MuscleViewModel.IsBusy" />
<MessageComponent Errors="ExerciseViewModel.Errors" SuccessMessages="ExerciseViewModel.SuccessMessages" IsBusy="ExerciseViewModel.IsBusy" />

<div class="row justify-content-between">
    <h1>Exercises</h1>

    <AuthorizeView Roles="Admin">
        <Authorized>
            <div>
                <button @onclick="ShowCreateExercise" class="button-success m-0"><i class="fa fa-plus" /> Add</button>
            </div>
        </Authorized>
    </AuthorizeView>
</div>


<div class="row gap-1">
    <input @bind="ExerciseViewModel.ExerciseParameters.ExerciseName" @bind:event="oninput" @bind:after="SearchChanged" id="searchInput" placeholder="Search exercises" type="text">

    <div>
        <select @bind="ExerciseViewModel.ExerciseParameters.PrimaryMuscle" @bind:after="SearchChanged">
            <option value="">All Muscles</option>
            @foreach (var muscle in MuscleViewModel.Muscles ?? new List<MuscleDto>())
            {
                <option value="@muscle.Name">@muscle.Name</option>
            }
        </select>
    </div>
</div>

<p class="m-0">
    @($"{ExerciseViewModel.Entities?.Count ?? 0} exercises found.")
</p>

<div class="card-grid">
    @foreach (var exercise in ExerciseViewModel.Entities?.List ?? new List<ExerciseDto>())
    {
        <div class="exercise-card">
            <a href="@($"exercises/{exercise.Id}")">
                <img src="@exercise.ImageUrl" alt="@exercise.Name" />
                <div class="card-info">
                    <h4>@exercise.Name</h4>
                    <h5>@exercise.PrimaryMuscle</h5>
                    <p>@exercise.Description</p>
                </div>
            </a>
        </div>
    }
</div>

@if(ExerciseViewModel.Entities?.List != null) 
{
    <PaginationComponent Page="ExerciseViewModel.ExerciseParameters.Page" PageCount="ExerciseViewModel.ExerciseParameters.PageCount" TotalCount="ExerciseViewModel.Entities.Count" PageChanged="OnPageChanged" />
}

<AddExerciseComponent IsVisible="showCreateExerciseComponent" Exercise="newExercise" Muscles="MuscleViewModel.Muscles" OnConfirm="OnCreate" />

@code {
    [Inject]
    IMuscleViewModel MuscleViewModel { get; set; }

    [Inject]
    IExerciseViewModel ExerciseViewModel { get; set; }

    [Inject]
    IJSRuntime JS { get; set; }

    [Inject]
    NavigationManager NavigationManager { get; set; }

    private string searchString = "";

    private bool showCreateExerciseComponent = false;
    private AddExerciseClientDto newExercise;

    protected override async Task OnInitializedAsync()
    {
        ExerciseViewModel.ExerciseParameters = new ExerciseParameters();

        MuscleViewModel.PropertyChanged += ViewModelPropertyChanged;
        ExerciseViewModel.PropertyChanged += ViewModelPropertyChanged;

        await MuscleViewModel.GetMuscles();

        GetQueryString();

        await SearchChanged();
    }

    public void Dispose() 
    {
        MuscleViewModel.PropertyChanged -= ViewModelPropertyChanged;
        ExerciseViewModel.PropertyChanged -= ViewModelPropertyChanged;
    }

    private async void ViewModelPropertyChanged(object sender, System.ComponentModel.PropertyChangedEventArgs e) => await InvokeAsync(() => { StateHasChanged(); });

    private void GetQueryString()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var queryDict = QueryHelpers.ParseQuery(uri.Query);

        if (queryDict.TryGetValue("muscle", out var value))
        {
            if (MuscleViewModel.Muscles?.Any(x => string.Equals(x.Name, value.ToString(), StringComparison.OrdinalIgnoreCase)) == true)
            {
                ExerciseViewModel.ExerciseParameters.PrimaryMuscle = value.ToString();
            }
        }
    }

    private async Task SearchChanged() 
    {
        //Reset the page
        ExerciseViewModel.ExerciseParameters.Page = 0;
        await ExerciseViewModel.GetEntities();
    }

    private async Task OnPageChanged(int page)
    {
        ExerciseViewModel.ExerciseParameters.Page = page;
        await ExerciseViewModel.GetEntities();
        await JS.InvokeVoidAsync("scrollTo", 0, 0);
    }

    private void ShowCreateExercise() 
    {
        showCreateExerciseComponent = true;
        newExercise = new AddExerciseClientDto();
    }

    private async Task OnCreate(bool confirmed)
    {
        if (confirmed)
        {
            var result = await ExerciseViewModel.Add(newExercise);

            //Update the list if successfully added
            if (result != null)
            {
                await ExerciseViewModel.GetEntities();
                showCreateExerciseComponent = false;
            }
        }
        else
        {
            showCreateExerciseComponent = false;
        }
    }
}